


<form class="card login-form">
    <h2 class="card-header">Create New Post</h2>
<div>
    <h4>Title</h4>
    <input type="text" class="form-input" id="post-title" />
</div>
<div>
    <h4>Content</h4>
    <input type="text" class="form-input" id="post-content" />
</div>
<button type="submit" class="btn">Create</button>
</form>
<script src="/javascript/submit-post.js"></script>