<section>
     <button type="submit" class="btn new-post-form" id="new-post-form">+ New Post</button>
</section>

{{!-- {{#if posts.length}} --}}
{{#each posts as |post|}}
<article class="card">
    <div class = "card-header" >
        {{!-- {{#if loggedIn}} href = "" {{/if}} --}}
        <a href="/dashboard/edit/{{id}}"> <h2 >{{post.title}}</h2> </a>
        <span> Posted by {{user.username}} on {{format_date post.createdAt}}</span>
    </div>
   
</article> 
{{/each}}
{{!-- {{/if}} --}}



<script src="/javascript/add-post.js"></script>